@import url('./modules/header.css');
@import url('./modules/background.css');
@import url('./modules/flex.css');
@import url('./modules/margin.css');
@import url('./modules/padding.css');
@import url('./modules/card.css');
@import url('./modules/form.css');
@import url('./modules/backdrop.css');
/* Control default browser behavior */
button, hr, body, html, div, h1, h2, h3, h4, h5, h6, section, form, a, img, footer, ul, li, p, nav, input {
    padding: 0;
    margin: 0;
    list-style: none;
}
input[type=button],input, a {
    outline: none;
    text-decoration: none
}