/* full Navbar width */
#header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.1);
    padding: 8px;
    height: 60px;
    box-sizing: border-box
}
#title {
    float: left;
}
/* General style for Navbar title and Navbar links */
#title a, #nav-links a {
    padding: 10px;
    color: black
}
#title a {
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    font-style: italic;
}
/* UpperCase Navbar links */
#nav-links a{
    text-transform: uppercase;
}
/* Change the Navbar link color on mouse-over */
#nav-links a:hover{
    color: rgb(49, 180, 49);
}